# Natural Language Processing
langchain==0.0.267
chromadb==0.4.6
nltk
InstructorEmbedding
sentence-transformers==2.2.2
faiss-cpu
huggingface_hub
transformers
rank-bm25
auto_gptq
bitsandbytes
langchain-community
protobuf==3.20.2; sys_platform != 'darwin'
# protobuf==3.20.2; sys_platform == 'darwin' and platform_machine != 'arm64'
# protobuf==3.20.3; sys_platform == 'darwin' and platform_machine == 'arm64'
# auto-gptq==0.6.0; sys_platform != 'darwin'

# Table transformer
easyocr
opencv-python==4.8.0.74
opencv-python-headless==4.8.0.74
# Utilities
pdf2image
accelerate
click
flask
requests
pdfplumber

# Streamlit related
streamlit
Streamlit-extras