# Natural Language Processing
langchain==0.0.267
chromadb==0.4.6
nltk
InstructorEmbedding
sentence-transformers==2.2.2
faiss-cpu
huggingface_hub
transformers
rank-bm25
auto_gptq
bitsandbytes
langchain-community

# Table transformer
easyocr
opencv-python==4.8.0.74
opencv-python-headless==4.8.0.74
# Utilities
pdf2image
accelerate
click
flask
requests
pdfplumber

# Streamlit related
streamlit
Streamlit-extras